<div class="position-sticky" style="top: 2rem">
	<div class="p-4 mb-3 rounded text-bg">
		<h4 class="fst-italic">About</h4>
		<p class="mb-0">
			Inspire, motivate, advise through a quote. Your opinion is
			important to us as it impacts a life. Quoty is built for
			everyone and anyone. Feel free to share your life lessons
			through experience or knowledge.
		</p>
	</div>

	<div>
		<h4 class="fst-italic custom-primary">Random Quotes</h4>
		<ul class="list-unstyled random-quote">

			{% for quote in randQ %}

			<li>
				<a class="d-flex flex-column flex-lg-row gap-3 align-items-start justify-content-center align-items-lg-center py-2 link-body-emphasis text-decoration-none"
					href="#">
					<div class="col-lg-12">
						<h6 class="mb-0">"{{ quote.content }}"</h6>
						<small class="text-light">by ~ {{ quote.author }}</small>
					</div>
				</a>
			</li>

			{% endfor %}
		</ul>
	</div>

	<div class="p-4">
		<h4 class="fst-italic custom-primary text-decoration-underline">Reach us</h4>
		<ol class="list-unstyled">
			<li><a href="https://github.com/Nehad-Said/Quoty_App">GitHub</a></li>
			<li><a href="https://www.linkedin.com/">LinkedIn</a></li>
			<li><a href="https://twitter.com/">Twitter</a></li>
		</ol>
	</div>
</div>