{% extends "layout.html" %}
{% block content %}


<main class="container">
	<div class="row g-5 my-1">
		<div class="col-md-8">
			<h4 class="fst-italic">Quoty.! Developed to inspire.</h4>
			{% for quote in quotes %}

			<article class="blog-post">
				<div
					class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<p class="card-text mb-auto">
							"{{ quote.content }}"
						</p>
						<strong class="d-inline-block mb-2 text-primary-emphasis">by ~{{ quote.author.username
							}}</strong>


						<div class="mb-1 text-body-secondary">On. {{ quote.created_on }}</div>
					</div>
				</div>
			</article>
			{% endfor %}


		</div>

		<div class="col-md-4">
			{% include '_side.html' %}
		</div>
	</div>
</main>

{% endblock content %}