{% extends "layout.html" %}
{% block content %}


<main class="container">
	<div class="row g-5 my-1">
		<div class="col-md-8">
			<h4 class="fst-italic custom-primary">Quoty.! Developed to inspire.</h4>
			{% for quote in quotes %}

			<article class="blog-post">
				<div
					class="row g-0 border rounded quote-bg overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<p class="card-text mb-auto">
							"{{ quote.content }}"
						</p>
						<strong class="d-inline-block mb-2 text-primary-emphasis">by ~{{ quote.author.username
							}}</strong>


						<div class="mb-1 text-body-secondary">{{ date_format(quote.created_on) }}</div>
					</div>
				</div>
			</article>
			{% endfor %}

			{% for page_num in quotes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
			{% if page_num %}
			{% if quotes.page == page_num %}
			<a class="btn btn-outline-info active" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
			{% else %}
			<a class="btn btn-outline-info" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
			{%else%}
			...
			{% endif %}
			{% endfor %}

		</div>

		<div class="col-md-4">
			{% include '_side.html' %}
		</div>
	</div>
</main>

{% endblock content %}